


    {% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href=""> <!-- To link to the bootstrap css file -->

    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="" width="64" height="64"> <!-- To pick the logo-->
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="" class="navbar-item"> <!--So that when someone cliecks HOME, it directes them to the index page-->
        <i class="material-icons">home</i> 
        Home
      </a>

      <a class="navbar-item">
        <i class="material-icons">explore</i> 
        Explore
      </a>

      <a href="" class="navbar-item">
        <i class="material-icons">notifications</i>
        Notifications
 
          <span class="badge"></span>
 
      </a>

      <a href="" class="navbar-item">
        <i class="material-icons">inbox</i>
        Inbox

        <span class="badge"></span>
     </a>

      <a href="" class="navbar-item">
        <i class="material-icons">face</i>
        Profile - <strong></strong>
      </a>

        <a href="" class="navbar-item">
          <i style="color: green;" class="material-icons">perm_media</i>
          <strong>New Post</strong>
        </a>

        <a href="" class="navbar-item">
          <i style="color: green;" class="material-icons">photo_filter</i>
          <strong>New Story</strong>
        </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Settings
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Change password
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <a class="navbar-item">
            Report an issue
          </a>
          <hr class="navbar-divider">
          <a href="" class="navbar-item">
            Log out
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>



  <section class="section">
    <div class="container">



    </div>
  </section>



  </body>
 
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=""></script>
  <script src=""></script>
</html>